#rotate-texture-dialog,
#rotation-options-dialog {
    width:  auto !important;
    height: auto !important;
}
#rotate-texture-dialog .dialog-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}
#rotate-texture-dialog .dbutton {
    border-style: none;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-color: transparent;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    margin: 0px 3px;
}
#rotate-texture-dialog .small-dbutton{
    border-style: none;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin: 0px 3px;
}
#rotate-texture-dialog .dbutton.cw-button180{
    flex: 1 0;
    background-image: url(../images/icons/icon-rotate-right-180.png);
}
#rotate-texture-dialog .dbutton.acw-button180{
    flex: 1 0;
    background-image: url(../images/icons/icon-rotate-left-180.png); 
}
#rotate-texture-dialog .dbutton.cw-button90{
    flex: 1 0;
    background-image: url(../images/icons/icon-rotate-right-90.png);  
}
#rotate-texture-dialog .dbutton.acw-button90{
    flex: 1 0;
    background-image: url(../images/icons/icon-rotate-left-90.png);
}
#rotate-texture-dialog .dbutton.cw-button360{
    flex: 1 0;
    background-image: url(../images/icons/icon-rotate-right-360.png);
}
#rotate-texture-dialog .dbutton.acw-button360{
    flex: 1 0;
    background-image: url(../images/icons/icon-rotate-left-360.png);
}
#rotate-texture-dialog .dbutton.apply-texture{
    flex: 1 0;
    padding: 10px;
    background-image: url(../images/icons/icon-place.png);
}
#rotate-texture-dialog .dbutton.remove-texture{
    flex: 1 0;
    padding: 10px;
    background-image: url(../images/icons/icon-delete.png);
}
#rotate-texture-dialog .dbutton.options-texture{
    flex: 1 0;
    padding: 10px;
    background-image: url(../images/icons/icon-options.png);
}
#rotate-texture-dialog .small-dbutton.open-browser{
    flex: 1 0;
    border-style: none;
    background-image: url(../images/icons/icon-load.png);
}
#rotate-texture-dialog label{
    margin: 0px 10px;
}
#rotate-texture-dialog input.input-name {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0px 3px;
}
#rotate-texture-dialog input.input-size{
    width: 28px;
    text-align: center;
    margin: 0px 3px;
}
#rotate-texture-dialog input[type=range]{
    width: 100px;
}
#rotate-texture-dialog div.form-group.row, 
#rotation-options-dialog div.form-group.row {
    justify-content: space-between;
    margin: 0px 0px 3px 0px;
}
#rotation-options-dialog input.options-input{
    width: 30px;
    flex: 0;
    text-align: center;
    margin: 0px 3px;
}